.gallery {
    margin-top: 10vh;
}
.gallery-container {
    border: 1px solid #D1E7DD;
    perspective: 1000px;
}
.gallery-container .image {
    margin: 30px;
    padding: 30px;
}
.image {
    width:5vw;
    height:5vh;
    transform: scale(1);
    transition: all 0s ease-out;
    animation: scatter 1s forwards, gather 1s 1s forwards;
    --x: 0;
    --y: 0;
}

@keyframes scatter {
    0% {
      transform: translate(0px, 0px);
      opacity: 1;
    }
    100% {
      transform: translate(var(--x), var(--y));
      opacity: 0;
    }
  }
  
  @keyframes gather {
    0% {
      transform: translate(var(--x), var(--y));
      opacity: 0;
    }
    100% {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
  
  
  .image.task1 { --x: 125px; --y: -125px; }
  .image.task2 { --x: -125px; --y: 175px; }
  .image.task3 { --x: 75px; --y: -125px; }
  .image.task4 { --x: -125px; --y: 125px; }
  .image.task5 { --x: 125px; --y: -225px; }
  .image.task6 { --x: -175px; --y: 275px; }
  .image.task7 { --x: 225px; --y: -325px; }
  .image.task8 { --x: -275px; --y: 375px; }
  .image.task9 { --x: 325px; --y: -425px; }
  .image.task10 { --x: -425px; --y: 425px; }
  .image.task11 { --x: 425px; --y: -525px; }
  .image.task12 { --x: -525px; --y: 525px; }
